* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

ul {
  padding: 5rem;
  border: 2px solid black;
  list-style: none;
}
li {
  text-align: center;
}
img {
  max-width: 500px;
  max-height: 350px;
}